<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div id="menu_top">
        <div id="top">
            <ul class="nav nav-tabs nav-fill" style="height: 50px; display: flex;">
                <li><a href={% url 'home' %} title="Trang chủ" class="active"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li><a href="#" title="Fanpage"><i class="fab fa-facebook"></i> Fanpage</a></li>
                {% if user.username %}
                <li><a href="{% url 'infor' user.id %}" title="Fanpage"><i class="fa fa-list-ul"></i> Quản lý</a></li>
                {% endif %}
                <form  class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
                    <div>
                    <input type="text" placeholder="Tìm kiếm..." name="search" style="height: 25px;width:200px ;">
                    <button type="submit" style="height: 31px"><i class="fa fa-search"></i></button>
                </div>
            </form>
            
           
       
                {% if user.username %}
                <p style="color:white"> Xin chào <b><a style="color:White;text-decoration:none" href="">{{ user.username}}</a></b></p><span style="margin-left:10px"> <li><a href="{% url 'dangxuat' %}"><i class="fas fa-sign-in-alt"></i>
                            Đăng xuất</a></li>
                {% else %}
                <li><a href="{% url 'dangnhap' %}" title="Đăng nhập" class="active"><i class="fas fa-sign-in-alt"></i>
                        Đăng nhập</a></li>
                <li><a href="{% url 'dangky' %}" title="Đăng ký"><i class="fas fa-user-plus"></i> Đăng ký</a></li>
                {% endif %}
            </ul>
         
        </div>
        <div id="bot">
            <ul style="height: 40px;">
                <li><a href="#">Thể loại <i class='fas fa-angle-down'></i></a>
                    <ul class="sub-menu">
                        <div class="row" style="z-index: 10000;">
                        {% for i in cate  %}
                            <li><a href={% url 'theloai' i.name %}>{{i.name}}</a></li>                      
                         
                            {% if forloop.counter|divisibleby:"3" %}
                        </div>
                        
                        <div class="row">
                        {% endif %}
                        {% endfor %}
                        </div>
                    </ul>
                </li>
                <li><a href="#">Truyện mới</a></li>
                <li><a href="{% url 'hot' %}">Truyện hot</a></li>
                
                <li><a href="#">Xếp hạng</a></li>
                <li><a href="#">Truyện đã xem</a></li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock content %}
    <hr>
    <div id="footer">
        <ul class="list-footer">
            <li><a href=" ">Liên hệ</a></li>
            <li><a href=" ">Fanpage</a></li>
            <li><a href=" ">Điều khoản dịch vụ</a></li>
            <li><a href=" ">Chính sách bảo mật</a></li>
        </ul>
    </div>
    <div class="copyright text-center py-3">© 2021 Copyright:
        <a href="https://hieutrungtran.com/"> bookHUS.com</a>
    </div>
</body>

</html>
<script>
    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("bot");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
    </script>