
{% block content %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" type="text/css" href={% static 'css/dangnhap.css' %}>
<br />

{% if user.username %}
<p>
<h2 style="color:red">Xin chào {{user.username }} ,bạn đang đăng nhập</h2> <a href="{% url 'dangxuat' %}"> Đăng
    xuất</a></span> </p>
{% else %}


<div id="dangnhap">
    <div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <form action="#"  method="post" >
             {% csrf_token %}
                <h1>Đăng Nhập</h1>
                <div class="social-container">
                    <a href="{% url 'social:begin' 'facebook' %}?next={% url 'home' %}" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>hoặc sử dụng</span>
                <br>
                <label>Tên đăng nhập</label>
                {{form.username}}
                <label>Mật khẩu</label>
                {{form.password}}
                <input type="hidden" name="next" value="/"/>
               {% for key,value in form.errors.items %}
                <p style="color:red"> Vui lòng nhập đúng tài khoản và mật khẩu </p>
                {% endfor %}
                <button type="submit" name="dangnhap">Đăng nhập</button>
                
                <br>
                 <p>Nếu chưa có tài khoản vui lòng <a style="color:red" href="{% url 'dangky' %}"><br>Đăng kí</a>! <br>hoặc về <a style="color:red" href="{% url 'home' %}"><br>Trang chủ</a>!</p>
            </form>
        </div>
       
    </div>
</div>


{% endif %}
{% comment %} <p><a href="{% url 'social:begin' 'facebook' %}?next={% url 'home' %}">Login with Facebook</a></p> {% endcomment %}

{% endblock content %}