{% extends "base.html" %}
{% load static %}
    <link rel="stylesheet" type="text/css" href={% static "/css/info.css" %}>

</head>

<body>
    <div id="menu_top">
        <div id="top">
            <ul class="nav nav-tabs nav-fill" style="height: 50px; display: flex;">
                <li><a href="#" title="Trang chủ" class="active"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li><a href="#" title="Giới thiệu"><i class="fab fa-facebook"></i> Fanpage</a></li>
                <form class="example" action="/action_page.php">
                    <input type="text" placeholder="Tìm kiếm..." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <li><a href="#" title="Trang chủ" class="active"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
                </li>
                <li><a href="#" title="Giới thiệu"><i class="fas fa-user-plus"></i> Đăng ký</a></li>
            </ul>
        </div>
        <div id="bot">
            <ul style="height: 40px;">
                <li><a href="#">Thể loại <i class='fas fa-angle-down'></i></a>
                    <ul class="sub-menu">
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                    </ul>
                </li>
                <li><a href="#">Truyện mới</a></li>
                <li><a href="#">Truyện hot</a></li>
                <li><a href="#">Xếp hạng</a></li>
                <li><a href="#">Truyện đã xem</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="breadcrumb w-breadcrumb">
            <div class="container">
                <ul class="row">
                    <li>
                        <a href="/">Trang chủ</a><i class="fas fa-angle-right"></i>
                    </li>
                    <span class="breadcrumb-divider"></span>
                    <li class="active">
                        <a href="#">Conan-Tập 96</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p20 bg-white content-col relative">
            <div class="infor">
                <div class="book-thumb " style="position:relative;">
                    <img src="https://nxbkimdong.com.vn/sites/default/files/styles/uc_product/public/96_1.jpg?itok=F4YirqX5"
                        class="img-fluid box-shadow-bold">
                    <div class="book-interactive">
                        <span class="view">
                            <i class="fas fa-eye"></i> 108
                        </span>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="book-info">
                    <div class="book-info-text">
                        <h1>Conan-Tập 96</h1>
                        <div class="book-info-line">
                            <span>Tác giả:</span>
                            <h3 class="detail-tag"><a class="author-detail hightlight click_author_info" href="">Gosho
                                    Aoyama</a></h3>
                        </div>
                        <p>Thể loại: <a class="category-detail hightlight click_category" href="">Trinh thám</a></p>
                        <div class="book-info-line">
                            <span>Nhà xuất bản:</span>
                            <h3 class="detail-tag"><a class="publisher-detail hightlight click_publisher_info"
                                    href="">NXB
                                    Kim Đồng</a></h3>
                        </div>
                        <p>Ngày cập nhật: 26/11/2020</p>
                    </div>
                    <div class="ga_click" data-gacategory="convert web" data-gaaction="click book" data-galabel="read">
                        <a class="book-info-link" href="javascript:void(0)" onclick="openReaderPage(10990,1,0,1,0);">Đọc
                            sách</a>
                    </div>

                    <div class="fbpx-track" type="track" eventname="ViewContent"
                        params="{&quot;content_type&quot;:&quot;product&quot;,&quot;content_ids&quot;:[10990],&quot;content_name&quot;:&quot;\u0110\u1eafc nh\u00e2n t\u00e2m&quot;,&quot;content_catalogue&quot;:&quot;Ngh\u1ec7 thu\u1eadt s\u1ed1ng&quot;}"
                        style="display: none;"></div>
                    <div class="clearfix"></div>
                    <div id="book-desc" class="boxcontentdesc text-justify short radio-b-desc pb20 book-info-desc">
                        <!--<span class="desc"></span>
                    <div class="text-right">
                        <p id="read-more" class="read-more book-info-see-more" style="cursor: pointer" data-parent="#book-desc">Đọc thêm</p>
                    </div>-->
                        <div class="desc-full">
                            <h3>Giới Thiệu</h3>
                            <p>Kaito Kid muốn giành lấy “Đôi Môi Tiên Nữ” và lần đầu đối mặt với Heiji Hattori!
                                Makoto Kyogoku bị cuốn vào những vụ án xảy ra tại một địa điểm quay phim truyền hình…!?
                                Những thông tin mới nhất liên quan tới ông trùm của Tổ chức Áo Đen sẽ được tiết lộ!!
                                Kaito Kid muốn giành lấy “Đôi Môi Tiên Nữ” và lần đầu đối mặt với Heiji Hattori!
                                Makoto Kyogoku bị cuốn vào những vụ án xảy ra tại một địa điểm quay phim truyền hình…!?
                                Những thông tin mới nhất liên quan tới ông trùm của Tổ chức Áo Đen sẽ được tiết lộ!!
                                Kaito Kid muốn giành lấy “Đôi Môi Tiên Nữ” và lần đầu đối mặt với Heiji Hattori!
                                Makoto Kyogoku bị cuốn vào những vụ án xảy ra tại một địa điểm quay phim truyền hình…!?
                                Những thông tin mới nhất liên quan tới ông trùm của Tổ chức Áo Đen sẽ được tiết lộ!!
                                Kaito Kid muốn giành lấy “Đôi Môi Tiên Nữ” và lần đầu đối mặt với Heiji Hattori!
                                Makoto Kyogoku bị cuốn vào những vụ án xảy ra tại một địa điểm quay phim truyền hình…!?
                                Những thông tin mới nhất liên quan tới ông trùm của Tổ chức Áo Đen sẽ được tiết lộ!!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <nav class="navbar">
                        <a class="de_xuat"><i class='fas fa-code-branch'></i> Liên quan</a>
                    </nav>
                    <div class="card-group">
                        <div class="card">
                            <a href=""><img src="./images/conan1.jpg" alt="Avatar"></a>
                            <div class="container1">
                                <h5><b>Thám tử lừng danh Conan</b></h5>
                                <p><button><a class="chitiet" href="#">Chi tiết</a></button></p>
                                <span class="view">
                                    <i class="fas fa-eye"></i> 108
                                </span>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <a href=""><img src="./images/conan2.jpg" alt="Avatar"></a>
                            <div class="container1">
                                <h5><b>Thám tử lừng danh Conan</b></h5>
                                <p><button><a class="chitiet" href="#">Chi tiết</a></button></p>
                                <span class="view">
                                    <i class="fas fa-eye"></i> 108
                                </span>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <a href=""><img src="./images/conan3.jpg" alt="Avatar"></a>
                            <div class="container1">
                                <h5><b>Thám tử lừng danh Conan</b></h5>
                                <p><button><a class="chitiet" href="#">Chi tiết</a></button></p>
                                <span class="view">
                                    <i class="fas fa-eye"></i> 108
                                </span>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="c-blog__heading style-2 font-heading">
                <h2 class="h4">
                    <i class="far fa-calendar-alt"></i>
                    DANH SÁCH CHƯƠNG
                </h2>
            </div>

            <div class="listing-chapters_wrap show-more">
                <ul class="main version-chap">
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 10
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 4
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 9
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 4
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 8
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 4
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 7
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 5
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 6
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 6
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 5
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 4
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 4
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 6
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 3
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 6
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 2
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 13
                        </span>
                    </li>
                    <li class="wp-manga-chapter free-chap">
                        <a href="">
                            Chương 1
                        </a>
                        <span class="chapter-release-date">
                            <i class="far fa-clock"></i> 1 ngày trước
                        </span>
                        <span class="chapter-total-view">
                            <i class="fas fa-eye"></i> 31
                        </span>
                    </li>
                </ul>
            </div>

        </div>




    </div>

    <div id="comment">
        <div class="card-box" id="comments">
            <header>
                <h3><i class="far fa-comment-alt"></i>Bình Luận</h3>
            </header>
            <form class="comment-form" method="post"> <input type="hidden" name="storyID" id="storyID" value="16815">
                <input type="hidden" name="replyTo" value="0"> <textarea aria-label="Bình luận" id="comment-message"
                    name="message" placeholder="Bình luận tại đây!"></textarea>
                <div class="text-right"><button type="submit">Gửi</button></div>
            </form>

            <div id="rating">
                <b>Đánh giá truyện nhé <span style='font-size:16px;'>&#128521;</span></b>
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="full" for="star5" title="Awesome - 5 stars"></label>

                <input type="radio" id="star4" name="rating" value="4" />
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                <input type="radio" id="star3" name="rating" value="3" />
                <label class="full" for="star3" title="Meh - 3 stars"></label>

                <input type="radio" id="star2" name="rating" value="2" />
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                <input type="radio" id="star1" name="rating" value="1" />
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            </div>

            <ul id="comment-list" class="comment-list">
                <li id="comment91878" class="comment clearfix " data-user-id="324405" data-parent="0" data-id="91878">
                    <span class="avatar-letter">H</span>
                    <div class="comment-content">
                        <p class="userinfo"><a href="#">hieutrungtran</a> <i class="fa fa-circle"></i>
                            <span>12/11/2020</span>
                        </p>
                        <p class="message">Amazing! Good job!</p>
                    </div>
                    <div class="acts">
                        <a href="#" rel="nofollow" class="action-reply-comment" title="Trả lời" data-type="story"
                            data-object="16815" data-id="91878"><i class="fa fa-reply"></i> Trả lời</a><a href="#"
                            rel="nofollow" class="action-love-comment" data-id="91878"><i class="far fa-thumbs-up"></i>
                            Thích <span class="likeCount">. 0</span></a>
                    </div>
                </li>
                <li id="comment91766" class="comment clearfix " data-user-id="193939" data-parent="0" data-id="91766">
                    <span class="avatar-letter">H</span>
                    <div class="comment-content">
                        <p class="userinfo"><a href="#">Hiệp Công Lề</a> <i class="fa fa-circle"></i>
                            <span>12/11/2020</span>
                        </p>
                        <p class="message">huhu truyện hay wá</p>
                    </div>
                    <div class="acts">
                        <a href="#" rel="nofollow" class="action-reply-comment" title="Trả lời" data-type="story"
                            data-object="16815" data-id="91766"><i class="fa fa-reply"></i> Trả lời</a><a href="#"
                            rel="nofollow" class="action-love-comment" data-id="91766"><i class="far fa-thumbs-up"></i>
                            Thích <span class="likeCount">. 0</span></a>
                    </div>
                </li>
                <li id="comment90021" class="comment clearfix " data-user-id="142491" data-parent="0" data-id="90021">
                    <span class="avatar-letter">V</span>
                    <div class="comment-content">
                        <p class="userinfo"><a href="#">Vũ Trần</a> <i class="fa fa-circle"></i>
                            <span>12/11/2020</span>
                        </p>
                        <p class="message">tôi sẽ chết nếu không được đọc đam mỹ</p>
                    </div>
                    <div class="acts">
                        <a href="#" rel="nofollow" class="action-reply-comment" title="Trả lời" data-type="story"
                            data-object="16815" data-id="90021"><i class="fa fa-reply"></i> Trả lời</a><a href="#"
                            rel="nofollow" class="action-love-comment" data-id="90021"><i class="far fa-thumbs-up"></i>
                            Thích <span class="likeCount">. 0</span></a>
                    </div>
                </li>
            </ul>
            <div id="comment-more"><a href="#" data-paged="2" rel="nofollow">Xem thêm</a>
            </div>
        </div>
    </div>

    <div id="footer">
        <ul class="list-footer">
            <li><a href=" ">Liên hệ</a></li>
            <li><a href=" ">Fanpage</a></li>
            <li><a href=" ">Điều khoản dịch vụ</a></li>
            <li><a href=" ">Chính sách bảo mật</a></li>
        </ul>
    </div>
    <div class="copyright text-center py-3">© 2021 Copyright:
        <a href="https://hieutrungtran.com/"> bookHUS.com</a>
    </div>



</body>

</html>