<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
    <link rel="stylesheet" type="text/css" href="css/read.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div id="menu_top">
        <div id="top">
            <ul class="nav nav-tabs nav-fill" style="height: 50px; display: flex;">
                <li><a href="#" title="Trang chủ" class="active"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li><a href="#" title="Giới thiệu"><i class="fab fa-facebook"></i> Fanpage</a></li>
                <form class="example" action="/action_page.php">
                    <input type="text" placeholder="Tìm kiếm..." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <li><a href="#" title="Trang chủ" class="active"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
                </li>
                <li><a href="#" title="Giới thiệu"><i class="fas fa-user-plus"></i> Đăng ký</a></li>
            </ul>
        </div>
        <div id="bot">
            <ul style="height: 40px;">
                <li><a href="#">Thể loại <i class='fas fa-angle-down'></i></a>
                    <ul class="sub-menu">
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                        <li><a href="#">Đam mỹ</a></li>
                    </ul>
                </li>
                <li><a href="#">Truyện mới</a></li>
                <li><a href="#">Truyện hot</a></li>
                <li><a href="#">Xếp hạng</a></li>
                <li><a href="#">Truyện đã xem</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <section class="page">
            <h1>Tên truyện</h1>
            <div class="field-item even">
                <p>Đoạn đường ngắn ngủi, thế mà Lộ Thiệu Quân ôm Phù Gia thân thể gầy yếu đến toát một thân mồ hôi, hắn
                    nhu hòa đặt Phù Gia lên giường, nhanh đi toilet rửa mặt.</p>
                <p>Phù Gia còn nằm trên giường, hệ thống đã tràn đầy phấn khởi bắt đầu cùng Phù Gia thảo luận kế hoạch
                    tiếp theo, như thế nào sinh hoạt, làm chuyện tốt như nào, làm sao đạt được danh vọng, hoàn thành một
                    đời có ý nghĩa.</p>
                <p>Thay nguyên chủ thu hoạch được một cái nhân sinh hoàn toàn không giống như trước.</p>
                <p>Phù Gia hỏi: "Linh hồn nàng muốn gì?"</p>
                <p>Hệ thống: "Ta hỏi rồi, nàng bảo nàng không phục, cũng xuất quỹ như nhau, nàng thì chưa làm chuyện gì,
                    còn Lộ Thiệu Quân thì chuyện gì cũng làm. Tại sao sau khi nàng chết lại khinh thường nàng, ỷ vào
                    nàng chết rồi, không có cách nào nói chuyện đúng không."</p>
                <p>Phù Gia: ...</p>
                <p>Vốn là ỷ vào người đã chết không có cách nào để nói chuyện mà.</p>
                <p>Phù Gia có chút đau đầu, "Ta xem sách, trên sách nói học làm * * tấm gương tốt, đỡ bà bà qua đường."
                </p>
                <p>Hệ thống trực tiếp tay Nhĩ Khang*: “Dừng tay, mau dừng tay, không có gia tài bạc triệu, vậy mà ngươi
                    còn suy nghĩ tới làm chuyện này?"</p>
                <p>*Tay Nhĩ Khang: là động tác đưa tay lên của Nhĩ Khang biểu đạt kêu gọi đối phương chờ một chút, không
                    cần đi. (Nguồn: Wattpad)</p>
                <p>Phù Gia còn nói thêm: "Nếu không, như thế giới trước quyên tiền đi, rồi bắt đầu đi nghiên cứu." Có
                    tiền vung tiền là được.</p>
                <p>Đỡ bà bà quá không thực tế, cuối cùng không biết ai đỡ ai.</p>
                <p>Hệ thống sâu kín nói: ”Cỗ thân thể này hiện tại là một đỗ nghèo khỉ, có thể ở lại phòng bệnh như vậy,
                    hoàn toàn là do Lộ Thiệu Quân có tiền, sau khi gả cho Lộ Thiệu Quân, cha mẹ ngươi đều là quỷ hút
                    máu, ngươi cùng bọn họ chặt đứt quan hệ."</p>
                <p>"Nhưng trên thực tế, sau này vì muốn Lộ tổng triệt để quên mất bạch nguyệt quang là ngươi. Ngươi đã
                    trở thành một người khác, ái mộ hư vinh, đồng thời là trà xanh biểu* với vô số lốp xe dự phòng."</p>
                <p>*Trà xanh biểu (green tea bitch): chỉ những người đã bán thân còn thích giả ngây thơ, yếu đuối, thực
                    ra lại có dã tâm rất lớn, không từ mọi thủ đoạn.</p>
                <p>Mà Phù Gia chú ý ở chỗ: “Ta có nhiều lốp xe dự phòng như vậy, sao chỉ có mỗi tên này?"</p>
                <p>Phù Gia biết khá rõ, cái gì gọi là trà xanh, hồng trà, lốp xe dự phòng, liếm cẩu không được house*.
                </p>
            </div>
        </section>

        <div class="buttons">
            <button class="previous"><a href="#"><i class="fas fa-angle-left"></i>
                    Chương trước
                </a>
            </button>
            <button class="previous"><a href="#">
                    Chương sau
                    <i class="fas fa-angle-right"></i>
                </a>
            </button>

        </div>

        <div class="c-blog__heading style-2 font-heading">
            <h2 class="h4">
                <i class="far fa-calendar-alt"></i>
                DANH SÁCH CHƯƠNG
            </h2>
        </div>

        <div class="listing-chapters_wrap show-more">
            <ul class="main version-chap">
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 10
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 4
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 9
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 4
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 8
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 4
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 7
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 5
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 6
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 6
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 5
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 4
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 4
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 6
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 3
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 6
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 2
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 13
                    </span>
                </li>
                <li class="wp-manga-chapter free-chap">
                    <a href="">
                        Chương 1
                    </a>
                    <span class="chapter-release-date">
                        <i class="far fa-clock"></i> 1 ngày trước
                    </span>
                    <span class="chapter-total-view">
                        <i class="fas fa-eye"></i> 31
                    </span>
                </li>
            </ul>
        </div>







    </div>



    <div id="comment">
        <div class="card-box" id="comments">
            <header>
                <h3><i class="far fa-comment-alt"></i>Bình Luận</h3>
            </header>
            <form class="comment-form" method="post"> <input type="hidden" name="storyID" id="storyID" value="16815">
                <input type="hidden" name="replyTo" value="0"> <textarea aria-label="Bình luận" id="comment-message"
                    name="message" placeholder="Bình luận ở đây!"></textarea>
                <div class="text-right"><button type="submit">Gửi</button></div>
            </form>
            
            <div id="rating">
                <b>Đánh giá truyện nhé <span style='font-size:16px;'>&#128521;</span></b>
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="full" for="star5" title="Awesome - 5 stars"></label>

                <input type="radio" id="star4" name="rating" value="4" />
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                <input type="radio" id="star3" name="rating" value="3" />
                <label class="full" for="star3" title="Meh - 3 stars"></label>

                <input type="radio" id="star2" name="rating" value="2" />
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                <input type="radio" id="star1" name="rating" value="1" />
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            </div>



            <ul id="comment-list" class="comment-list">
                <li id="comment91878" class="comment clearfix " data-user-id="324405" data-parent="0" data-id="91878">
                    <span class="avatar-letter">H</span>
                    <div class="comment-content">
                        <p class="userinfo"><a href="#">hieutrungtran</a> <i class="fa fa-circle"></i>
                            <span>12/11/2020</span>
                        </p>
                        <p class="message">Amazing! Good job!</p>
                    </div>
                    <div class="acts">
                        <a href="#" rel="nofollow" class="action-reply-comment" title="Trả lời" data-type="story"
                            data-object="16815" data-id="91878"><i class="fa fa-reply"></i> Trả lời</a><a href="#"
                            rel="nofollow" class="action-love-comment" data-id="91878"><i class="far fa-thumbs-up"></i>
                            Thích <span class="likeCount">. 0</span></a>
                    </div>
                </li>
                <li id="comment91766" class="comment clearfix " data-user-id="193939" data-parent="0" data-id="91766">
                    <span class="avatar-letter">H</span>
                    <div class="comment-content">
                        <p class="userinfo"><a href="#">Hiệp Công Lề</a> <i class="fa fa-circle"></i>
                            <span>12/11/2020</span>
                        </p>
                        <p class="message">huhu truyện hay wá</p>
                    </div>
                    <div class="acts">
                        <a href="#" rel="nofollow" class="action-reply-comment" title="Trả lời" data-type="story"
                            data-object="16815" data-id="91766"><i class="fa fa-reply"></i> Trả lời</a><a href="#"
                            rel="nofollow" class="action-love-comment" data-id="91766"><i class="far fa-thumbs-up"></i>
                            Thích <span class="likeCount">. 0</span></a>
                    </div>
                </li>
                <li id="comment90021" class="comment clearfix " data-user-id="142491" data-parent="0" data-id="90021">
                    <span class="avatar-letter">V</span>
                    <div class="comment-content">
                        <p class="userinfo"><a href="#">Vũ Trần</a> <i class="fa fa-circle"></i>
                            <span>12/11/2020</span>
                        </p>
                        <p class="message">tôi sẽ chết nếu không được đọc đam mỹ</p>
                    </div>
                    <div class="acts">
                        <a href="#" rel="nofollow" class="action-reply-comment" title="Trả lời" data-type="story"
                            data-object="16815" data-id="90021"><i class="fa fa-reply"></i> Trả lời</a><a href="#"
                            rel="nofollow" class="action-love-comment" data-id="90021"><i class="far fa-thumbs-up"></i>
                            Thích <span class="likeCount">. 0</span></a>
                    </div>
                </li>
            </ul>
            <div id="comment-more"><a href="#" data-paged="2" rel="nofollow">Xem thêm</a>
            </div>
        </div>
    </div>

    <div id="footer">
        <ul class="list-footer">
            <li><a href=" ">Liên hệ</a></li>
            <li><a href=" ">Fanpage</a></li>
            <li><a href=" ">Điều khoản dịch vụ</a></li>
            <li><a href=" ">Chính sách bảo mật</a></li>
        </ul>
    </div>
    <div class="copyright text-center py-3">© 2021 Copyright:
        <a href="https://hieutrungtran.com/"> bookHUS.com</a>
    </div>


</body>

</html>