{% extends 'base.html' %}
{% load static %}

{% block content%}
<div id="main">
    <div id="left">
        <h3 class="text-center">
            Thể loại <strong>{{ category.name}}</strong>
        </h3>
        <div class="description">
            <div class="des">{{i.description}}</div>
        </div>
        <div class="card-group">
            {% for i in bookcate %}
            <div class="card">
                <a href=""><img src={% static 'images/conan1.jpg' %} alt="Avatar" style="width:100%"></a>
                <div class="container">
                    <h5><b>{{i.BookName}}</b></h5>
                    <p><button><a class="chitiet" href="{% url 'chap' i.id %}">Đọc</a></button></p>
                    <span class="view">
                        <i class="fas fa-eye"></i> 108
                    </span>
                   <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div> 
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" %}
        </div>
        <div class="card-group">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="right-theloai">

        <div class="box">
            <div class="content">
                <h3 class="module-title"><b>Tất cả thể loại</b></h3>
                <ul class="nav">
                    {% for i in cate %}
                    <li>
                        <a target="_self" href="{% url 'theloai' i.name %}">{{ i.name }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}