{% extends 'base.html' %}
{% load static %}

{% block content%}
<div id="main">
    <div id="left">
        <h3 class="text-center">
            Thể loại <strong>{{ category.name}}</strong>
        </h3>
        <div class="description">
            <div class="des">{{category.description}}</div>
        </div>
        <div class="card-group">
            {% for i in bookcate %}
            <div class="card">
                <a href="{% url 'chap' i.id %}"><img src="{{i.imageBook.url}}" alt="Avatar" style="width:100%"></a>
                <div class="container">
                    <h5><b><a class="chitiet2" href="{% url 'chap' i.id %}">{{i.BookName}}</a></b></h5>
                    <p><button><a class="chitiet" href="{% url 'chap' i.id %}">Đọc</a></button></p>
                    <span class="view">
                        <i class="fas fa-eye"></i> {{i.click}}
                    </span>
                    <ul>
                    {% for j in i.chapter_set_all %}
                        <li><a href = "{% url 'noidung' j.id %}" ></a></li>
                    {% endfor %}
                    </ul>
                   
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" %}
        </div>
        <div class="card-group">
            {% endif %}
            {% endfor %}
        </div>
        <div class="center">
            <div class="buttons">
                {% if bookcate.has_previous %}
                <button class="previous"><a href="?page={{ bookcate.previous_page_number }}"><i
                        class="fas fa-angle-left"></i>
                    Trước
                </a>
                </button>
                {% endif %}
                {% for object in bookcate.paginator.page_range %}
                {% if bookcate.number == object %}
                <button class="item" style="background-color:black"><a class="page-link"
                                                                         href="?page={{ forloop.counter }}">
                    {{ forloop.counter }}</i></a></button>
                {% else %}
                <button class="item"><a class="page-link" href="?page={{ forloop.counter }}">
                    {{ forloop.counter }}</i></a></button>
                {% endif %}
                {% endfor %}
                {% if bookcate.has_next %}
                <button class="previous"><a href="?page={{ bookcate.next_page_number }}">
                    Sau
                    <i class="fas fa-angle-right"></i>
                </a>
                </button>
                {% endif %}

            </div>
        </div>
    </div>
    <div id="right-theloai">

        <div class="box">
            <div class="content">
                <h3 class="module-title"><b>Tất cả thể loại</b></h3>
                <ul class="nav">
                    {% for i in cate %}
                    <li>
                        <a target="_self" href="{% url 'theloai' i.name %}">{{ i.name }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}