{% extends 'base.html' %}
{% load static %}

{% block content%}
<div id="main">
    <div id="left">
        <h3 class="text-center">
            Thể loại <strong>Đam mỹ</strong>
        </h3>
        <div class="description">
            <div class="des">Chỗ này giới thiệu về thể loại</div>
        </div>
        <div class="card-group">
            {% for i in bookcate %}
            <div class="card">
                <a href=""><img src={% static 'images/conan1.jpg' %} alt="Avatar" style="width:100%"></a>
                <div class="container">
                    <h5><b>Thám tử lừng danh Conan</b></h5>
                    <p><button><a class="chitiet" href="#">Chi tiết</a></button></p>
                    <span class="view">
                        <i class="fas fa-eye"></i> 108
                    </span>
                    {% comment %} <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div> {% endcomment %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" %}
        </div>
        <div class="card-group">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="right-theloai">

        <div class="box">
            <div class="content">
                <h3 class="module-title"><b>Tất cả thể loại</b></h3>
                <ul class="nav">
                    <li>
                        <a target="_self" href="">Đam mỹ</a>
                    </li>
                    <li>
                        <a target="_self" href="">Action</a>
                    </li>
                    <li>
                        <a target="_self" href="">Adult</a>
                    </li>
                    <li>
                        <a target="_self" href="">Adventure</a>
                    </li>
                    <li>
                        <a target="_self" href="">Anime</a>
                    </li>
                    <li>
                        <a target="_self" href="">Chuyển Sinh</a>
                    </li>
                    <li>
                        <a target="_self" href="">Action</a>
                    </li>
                    <li>
                        <a target="_self" href="">Adult</a>
                    </li>
                    <li>
                        <a target="_self" href="">Adventure</a>
                    </li>
                    <li>
                        <a target="_self" href="">Anime</a>
                    </li>
                    <li>
                        <a target="_self" href="">Chuyển Sinh</a>
                    </li>
                    <li>
                        <a target="_self" href="">Action</a>
                    </li>
                    <li>
                        <a target="_self" href="">Adult</a>
                    </li>
                    <li>
                        <a target="_self" href="">Adventure</a>
                    </li>
                    <li>
                        <a target="_self" href="">Anime</a>
                    </li>
                    <li>
                        <a target="_self" href="">Chuyển Sinh</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}