{% extends 'pages/base.html' %}
{% block content %}
<div>
    {% if user.username %}
    <p> Xin chào <b>{{ user.username}}</b><span style="margin-left:10px"> <a href= "{% url 'dangxuat' %}"> Đăng xuất</a></span> </p>

    {% else %}
    <p><a href="{% url 'dangnhap' %}">Đăng nhập</a>  <span style="margin-left:10px"> <a href= "{% url 'dangky' %}"> Đăng ký</a></span> </p>

    {% endif %}

</div>

{% for i in book%}
<p></p><a href="{% url 'chap' i.id %}" style="decoration:none">{{i.BookName}}</a></p>
{% endfor %}
{% endblock content %}